---
import { Code } from "astro:components";
---

<Code
  code={`export function Index() {
  return (
    <body>
      <Header />

      <Main />

      <Footer />
    </body>
  );
}`}
  lang="tsx"
  wrap
/>
