---
import { Code } from "astro:components";
---

<Code
  code={`function Index() {
  return (
    <header>
      <nav>
        <ul>
          <li>
            <a>Home</a>
          </li>
          <li>
            <a>About</a>
          </li>
          <li>
            <a>Contact</a>
          </li>
        </ul>
      </nav>
    </header>
  );
}`}
  lang="tsx"
  wrap
/>
