---
import { Code } from "astro:components";
---

<Code
  code={`function Index() {
  return (
    <div className="flex items-center justify-center">
      <div className="flex items-center justify-center">
        <div className="flex items-center justify-center">Hello World!</div>
      </div>
    </div>
  );
}`}
  lang="tsx"
  wrap
/>
