---
import { Code } from "astro:components";
---

<Code
  code={`function Index() {
  return (
    <>
      <Header></Header>
      <Main></Main>
      <Footer></Footer>
    </>
  );
}`}
  lang="tsx"
  wrap
/>
