---
import { Code } from "astro:components";
---

<Code
  code={`export const Collapsible = () => {
  return (
  	<details>
      <summary>Summary</summary>
      <p>Details</p>
  	</details>
  );
};
`}
  lang="tsx"
  wrap
/>
