---
import { Code } from "astro:components";
---

<Code
  code={`export const StyledButton = () => {
  return (
    <button
      className={\`
        bg-transparent text-black border-black
        hover:bg-blue-500 hover:text-white focus:border-blue
      \`}
    >
    Action
    </button>
  );
};
`}
  lang="tsx"
  wrap
/>
