---
import { Code } from "astro:components";
---

<Code
  code={`import type { FormEvent } from "react";

export default function Form() {
  const handleSubmit = (event: FormEvent<HTMLFormElement>) => {
    // submit ...
  };

  return (
    <form onSubmit={handleSubmit}>
      <label>Email</label>
      <input type="email" required />

      <label>Password</label>
      <input type="password" required minLength={6} />

      <button type="submit">Submit</button>
    </form>
  );
}
`}
  lang="tsx"
  wrap
/>
