---
import { Code } from "astro:components";
---

<Code
  code={`import { useEffect, useState } from "react";

export function Counter() {
  const [counter, setCounter] = useState(0);

  useEffect(() => {
    if (counter > 10) {
      setCounter(0);
    }
  }, [counter]);

  return (
    <div>
      <h1>Counter: {counter}</h1>
      <button onClick={() => setCounter(counter + 1)}>Increment</button>
    </div>
  );
}
`}
  lang="tsx"
  wrap
/>
